* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary__background_color: #FF6600;
    --primary__text_color: #000000;
    --secondary__text_color: #8A898E;
    --btn__text_color: #ffffff;
    --heading__color: #0B1B35;
    --explore__btn_color: #dee2e6;
    --explore__heading_color : #1E0E62;
}

/* Google font
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "DM Sans", sans-serif;
font-family: "Abel", sans-serif;
*/


/* navigation__bar */
.custom__navigation {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding-top: 48px;
    .nav__items {
        a {
            color: var(--primary__text_color);
            font-weight: 500;
        }
        .custom__color {
            font-family: "Abel", sans-serif;
        }
        .custom__btn {
            background: var(--primary__background_color);
            color: var(--btn__text_color);
        }
    }
    .custom__btn {
        background: var(--primary__background_color);
        color: var(--btn__text_color);
    }
}

/* hero__section */
.hero__section {
    margin-top: 150px;
    .hero__title {
        font-size: 70px;
        font-weight: 900px;
        line-height: 81px;
        color: var(--heading__color);
    }
    .custon__btn {
        background: var(--primary__background_color);
        color: var(--btn__text_color);
        font-family: "Poppins", sans-serif;
        font-size: 16px;
    }
    .hero__subtitle {
        font-size: 22px;
        font-weight: 500;
    }
}

/* service__section */
.service__section {
    .header__content {
        font-family: "Abel", sans-serif;
        h5 {
            color: var(--secondary__text_color);
            font-size: 14px;
            letter-spacing: 6px;
        }
        h1 {
            font-size: 52px;
            color: var(--heading__color);
            font-weight: 400;
        }
    }
    .footer__content {
        font-family: "Poppins", sans-serif;
        .custom__btn {
            background: var(--primary__background_color);
            color: var(--btn__text_color);
            font-size: 18px;
            padding: 8px 20px;
        }
        h2 {
            font-family: "Abel", sans-serif;
            font-size: 36px;
            color: var(--primary__text_color);
        }
        p {
            color: var(--primary__text_color);
            font-size: 18px;
        }
        .custom__shadow {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            width: 300px;
        }
    }
}


/* explore__section */
.explore__section {
    .left__area {
        .custom__btn {
            color: var(--explore__heading_color);
            padding: 10px 20px;
            &:hover {
                background: var(--explore__btn_color);
            }
        }
        h2 {
            color: var(--explore__heading_color);
        }
        p {
            color: var(--secondary__text_color);
        }
    }
}

/* about__section */
.about__section {
    .header__content {
        font-family: "Abel", sans-serif;
        h5 {
            color: var(--secondary__text_color);
            font-size: 14px;
            letter-spacing: 6px;
        }
        h1 {
            font-size: 52px;
            color: var(--heading__color);
            font-weight: 400;
        }
    }
    .single__profile {
        padding: 20px;
        font-family: "DM Sans", sans-serif;
        p {
            color: var(--heading__color);
        }
        span {
            font-weight: bold;
            color: var(--secondary__text_color);
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}

/* out__team */
.out__team {
    .header__content {
        font-family: "Abel", sans-serif;
        h5 {
            color: var(--secondary__text_color);
            font-size: 14px;
            letter-spacing: 6px;
        }
        h1 {
            font-size: 52px;
            color: var(--heading__color);
            font-weight: 400;
        }
    }
    .team__profile {
        .profile__content {
            h5 {
                font-size: 22px;
                font-family: "DM Sans", sans-serif;
                color: var(--explore__heading_color);
            }
            p {
                font-size: 14px;
                color: var(--secondary__text_color);
            }
        }
        .bottom__icons {
            i {
                font-size: 22px;
                border-right: 1px solid var(--explore__btn_color);
                color: var(--secondary__text_color);
                padding: 15px;
                padding-right: 50px;
                &:last-child {
                    border: none;
                    padding-right: 20px;
                }

            }
        }
    }
}

/* subscription__section */
.subscription__section {
    .header__content {
        font-family: "Abel", sans-serif;
        h5 {
            color: var(--secondary__text_color);
            font-size: 14px;
            letter-spacing: 6px;
        }
        h1 {
            font-size: 52px;
            color: var(--heading__color);
            font-weight: 400;
        }
    }
    .custom__input {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }
    .custom__input::placeholder {
        font-size: 24px;
        color: var(--primary__text_color);
    }
    .custom__btn {
        color: var(--btn__text_color);
        background: var(--primary__background_color);
        font-size: 18px;
        font-family: "Poppins", sans-serif;
    }
}

/* footer__section */
.footer__section {
    font-family: "DM Sans", sans-serif;
    .logo__section {
        a {
            color: var(--explore__heading_color);
            font-size: 16px;
        }
    }
    .nav__items {
        .custom__list {
            li {
                padding: 0 10px;
                a {
                    color:var(--explore__heading_color);
                    text-decoration: none;
                }
            }
            list-style-type: none;
            float: right;
        }
    }
    .footer__text {
        p {
            color: var(--secondary__text_color);
            font-family: "DM Sans", sans-serif;
        }
    }
}

/*
    Mouse pointer event
*/

.pointer__event {
    pointer-events: none;
}

.custom__navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
  